@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");
.container {
  display: grid;
  margin: auto;
  background-color: khaki;
  width: 500px;

  border-radius: 30px;
  align-items: center;
}
body {
    background-image: url("mesh-gradient.png");
}
h3 {
  margin-left: 210px;
}
button {
  width: 100px;
  margin-left: 170px;
  margin-bottom: 50px;
  border: 2px solid rgb(62, 95, 241);
  background-color: transparent;
  border-radius: 5px;
  color: rgb(62, 95, 241);
}
button:hover {
  background-color: rgb(161, 161, 233);
  color: white;
}
.text {
  padding: 30px;
  display: absolute;
  bottom: 200px;
}
.kw {
  margin-left: 338px;
}
p {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-family: "Ubuntu Mono", monospace;
  color: #28ffbf;
  text-align: center;
  size:50px;
}
h3 {
  font-family: "Ubuntu Mono", monospace;
}
